body {
    font-family: Arial, sans-serif;
}

#content {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

#tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
} 

li {
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: 10px;
}

svg {
    border: solid 4px #eee;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bold {
    font-weight: bold;
}

.code {
    font-family: monospace;
    font-size: 14px;
    background-color: #eee;
    padding: 2.5px;
    border-radius: 5px;
}

.button {
    background-color: #eee;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tooltip {
    z-index: 100;
}

.container p {
    width: 70%;
    text-align: justify;
}
